# Sunucu portu
PORT=3000

# AbuseIPDB API anahtari (https://www.abuseipdb.com/account/api)
ABUSEIPDB_API_KEY=

# GeoIP servisi (ip-api.com) icin taban URL - ucretsiz katman key gerektirmez
GEOIP_BASE_URL=http://ip-api.com/json
